
.App{
  scroll-snap-type: y mandatory;
  overflow-y : scroll;
  height : 100vh;
}

.curseur-perso {
  width : 20px;
  height : 20px;
  opacity : 0.8;
  background-color : rgb(137,239,204);
  border-radius : 50%;
  position : absolute;
  pointer-events : none;
  z-index : 4;
}

.curseur-perso::before {
  content : '';
  position : absolute;
  top : 50%;
  left : 50%;
  transform : translate(-50%, -50%);
  width : 5px;
  height : 5px;
}


section {
  height : 100vh;
  scroll-snap-align: start;
}

#one{
  background-color: red;
}

#three{
  background-color: #0a192f;
}
#four{
  background-color: palegreen ;
}
#four{
  background-color: indianred ;
}
#four{
  background-color: oldlace ;
}


    
.header{
  display : flex;
  align-items : center;
  justify-content : space-around;
}

.header .nav{
  display : flex;
}

.header .nav .ul{
  display : flex;
}